* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100%;
    background-color: #8ecae6;
}
.grid-container {
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    grid-template-rows: 100px 1fr 100px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 100vh;
}

.header { 
    grid-area: 1 / 1 / 2 / 6; 
    background-color: #ffb703;
}

.aside { 
    grid-area: 2 / 1 / 3 / 2; 
    color: white;
}

.main { 
    grid-area: 2 / 2 / 3 / 3; 
}
h1,h2 {
    color: white;
}
.footer { 
    grid-area: 3 / 1 / 4 / 4; 
    background-color: #023047; 
    color: #fff;
}
.header,
.footer {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
#search {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    gap: 10px;
    margin: 10px;
    padding: 10px;
}
#productosMarca {
}